body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.card {
  width: 200px;
  height: 200px;
  background: #222;
  border-radius: 20px;
  padding: 20px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
  background: #444;
}